<div class="main-content">
    <!-- <div *ngIf="isLoading" class="isLoading">
         <img src="../../../assets/img/loader.gif" class="loadingImage">
    </div> -->
	 


    <div>
    <div class="thumbnailWrap">
		<ul class="thumbnails">
			  <li>
			    <a (mouseover)="changeStyle($event)" (mouseout)="changeStyleOut($event)">
			    	<img class="thumbImg" src="./../../assets/img/dummyvid.png" />
			    	<span><img  class="otherImg" src="./../../assets/img/layer-2.png" 
			    	 /></span>
			    	<div class="view" (click)="showVideo($event)">View</div>
			    	<div class="cameraName">Living Room Camera</div>
			    </a>
			  </li>
			  <li>
			    <a (mouseover)="changeStyle($event)" (mouseout)="changeStyleOut($event)" >
			    <img class="thumbImg" src="./../../assets/img/blankImage.png" />
					<span><img  class="otherImg" src="./../../assets/img/layer-2.png" 
			    	/></span>
			    	<div class="view" (click)="showVideo($event)">View</div>
			    	<div class="cameraName">Kitchen Camera</div>
			    </a>
			  </li>
<!-- 			  <li>
			    <a  (mouseover)="changeStyle($event)" (mouseout)="changeStyleOut($event)" >
			    	<img class="thumbImg" src="./../../assets/img/blankImage.png" />
					<span><img  class="otherImg" src="./../../assets/img/layer-2.png" 
			    	(mouseover)="changeStyle($event)" (mouseout)="changeStyleOut($event)" /></span>
			    	<div class="view" (click)="showVideo($event)">View</div>
			    </a>
			  </li> -->
		</ul>
		</div>
		<div class="slidesWrap">
			<div class="cameraNameStream"></div>
			<img id="videoCamera" width="771px" height="434px"/>
		</div>
    </div>
 </div>   