<div class="main-content">
    <div class="container-fluid">
         <div class="row noDeviceMessage">
             <span class="comingSoon">No Devices</span>
                <!--<div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="green">
                            <i class="material-icons">timeline</i>
                        </div>
                        <div class="card-content">
                            <div style="width: 87px; float:right; text-align:right;padding-bottom:5px;">
                            <p class="category">BedroomLight</p>
                            </div>
                            <div class="greenSwitch">
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <div class="slider round"></div>
                                </label>
                            </div>
                        </div>
                        <div class="card-footer">
                               <span>Color</span><span style="float:right;">56%</span>
                               <span class="greenColorRange"> <input type="range"></span>    
                        </div>
                         <div class="card-footer">
                               <span>Brightness</span><span style="float:right;">56%</span>
                               <span class="greenRange"> <input type="range"></span>  
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" style="background-color: #000; color: white;">
                            <i class="material-icons">timeline</i>
                        </div>
                        <div class="card-content">
                            <div style="width: 87px; float:right; text-align:right;padding-bottom:5px;">
                             <p class="category">KitchenLight</p>
                            </div>
                           <div class="blueSwitch">
                                <label class="switch">
                                    <input type="checkbox">
                                    <div class="slider round"></div>
                                </label>
                           </div>
                        </div>
                        <div class="card-footer">
                               <span>Color</span><span style="float:right;">56%</span>
                               <span class="blackColorRange"> <input type="range"></span>    
                        </div>
                         <div class="card-footer">
                               <span>Brightness</span><span style="float:right;">56%</span>
                               <span class="blackRange"> <input type="range"></span>  
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="red">
                            <i class="material-icons">lightbulb_outline</i>
                        </div>
                        <div class="card-content">
                             <div style="width: 87px; float:right; text-align:right;padding-bottom:5px;">
                             <p class="category">BathroomLight</p>
                            </div>
                            <div class="redSwitch">
                                <label class="switch">
                                        <input type="checkbox" checked>
                                        <div class="slider round"></div>
                                </label>
                            </div>
                        </div>
                        <div class="card-footer">
                               <span>Saturation</span><span style="float:right;">56%</span>
                               <span class="redRange"> <input type="range"></span>    
                        </div>
                         <div class="card-footer">
                               <span>Brightness</span><span style="float:right;">56%</span>
                               <span class="redRange"> <input type="range"></span>  
                        </div>
                    </div>
                </div>

               <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="blue">
                            <i class="material-icons">lightbulb_outline</i>
                        </div>
                        <div class="card-content">
                             <div style="width: 87px; float:right; text-align:right;padding-bottom:5px;">
                             <p class="category">DiningLight</p>
                            </div>
                            <div class="blueSwitch">
                                <label class="switch">
                                        <input type="checkbox" checked>
                                        <div class="slider round"></div>
                                </label>
                            </div>
                        </div>
                        <div class="card-footer">
                               <span>Saturation</span><span style="float:right;">56%</span>
                               <span class="blueRange"> <input type="range"></span>    
                        </div>
                         <div class="card-footer">
                               <span>Brightness</span><span style="float:right;">56%</span>
                               <span class="blueRange"> <input type="range"></span>  
                        </div>
                    </div>
                </div>-->
            </div>
    </div>
</div>
