.greenRange input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
.greenRange input[type=range]:focus {
  outline: none;
}
.greenRange input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #909398;
}
.greenRange input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #4caf50;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
.greenRange input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
.greenRange input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.greenRange input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 10px;
  background: #4caf50;
  cursor: pointer;
   margin-top: -7px;
}
.greenRange input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
.greenRange input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.greenRange input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.greenRange input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
.greenRange input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
.greenRange input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

/*red range slider*/

.redRange input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
.redRange input[type=range]:focus {
  outline: none;
}
.redRange input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #909398;
}
.redRange input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 25px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #ea4743;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
.redRange input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
.redRange input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.redRange input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
.redRange input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
.redRange input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.redRange input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.redRange input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
.redRange input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
.redRange input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

/*blue range slider*/

.blueRange input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
.blueRange input[type=range]:focus {
  outline: none;
}
.blueRange input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #909398;
}
.blueRange input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 25px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #0eb5ca;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
.blueRange input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
.blueRange input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #909398;
}
.blueRange input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 25px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #0eb5ca;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
.blueRange input[type=range]::-ms-track {
  width: 100%;
  /*height: 8.4px;*/
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
.blueRange input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.blueRange input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.blueRange input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 10px;
  margin-top:2px;
  background: #000;
  cursor: pointer;
}
.blueRange input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
.blueRange input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
.blueRange input[type=range]::-ms-tooltip { display: none; }
/* The switch - the box around the slider green switch ==========================*/
.greenSwitch .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.greenSwitch .switch input {display:none;}

/* The slider */
.greenSwitch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.greenSwitch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.greenSwitch input:checked + .slider {
  background-color: #4caf50;
}

.greenSwitch input:focus + .slider {
  box-shadow: 0 0 1px #4caf50;
}

.greenSwitch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.greenSwitch .slider.round {
  border-radius: 34px;
}

.greenSwitch .slider.round:before {
  border-radius: 50%;
}



/*red switch =========================================*/
.redSwitch .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.redSwitch .switch input {display:none;}

/* The slider */
.redSwitch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.redSwitch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.redSwitch input:checked + .slider {
  background-color: #ea4743;
}

.redSwitch input:focus + .slider {
  box-shadow: 0 0 1px #ea4743;
}

.redSwitch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.redSwitch .slider.round {
  border-radius: 34px;
}

.redSwitch .slider.round:before {
  border-radius: 50%;
}

/*blue switch ======================================*/

.blueSwitch .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.blueSwitch .switch input {display:none;}

/* The slider */
.blueSwitch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.blueSwitch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.blueSwitch input:checked + .slider {
  background-color: #18bcd0;
}

.blueSwitch input:focus + .slider {
  box-shadow: 0 0 1px #18bcd0;
}

.blueSwitch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.blueSwitch .slider.round {
  border-radius: 34px;
}

.blueSwitch .slider.round:before {
  border-radius: 50%;
}

/*disabled switch ======================================*/

.disabledSwitch .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.disabledSwitch .switch input {display:none;}

/* The slider */
.disabledSwitch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.disabledSwitch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.disabledSwitch input:checked + .slider {
  background-color: #ccc;
}

.disabledSwitch input:focus + .slider {
  box-shadow: 0 0 1px #ccc;
}

.disabledSwitch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.disabledSwitch .slider.round {
  border-radius: 34px;
}

.disabledSwitch .slider.round:before {
  border-radius: 50%;
}


/*black range slider =================================================*/

.blackRange input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
.blackRange input[type=range]:focus {
  outline: none;
}
.blackRange input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #909398;
}
.blackRange input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 25px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
.blackRange input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
.blackRange input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #909398;
}
.blackRange input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 25px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
.blackRange input[type=range]::-ms-track {
  width: 100%;
  /*height: 8.4px;*/
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
.blackRange input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.blackRange input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.blackRange input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 10px;
  margin-top:2px;
  background: #000;
  cursor: pointer;
}
.blackRange input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
.blackRange input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
.blackRange input[type=range]::-ms-tooltip { display: none; }

/*green coloured range slider  =================================================*/

.greenColorRange input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
.greenColorRange input[type=range]:focus {
  outline: none;
}
.greenColorRange input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
   background: -webkit-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* Standard syntax */
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
  border-radius: 1.3px;
  border: 0.2px solid #909398;
}
.greenColorRange input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 25px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #4caf50;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
.greenColorRange input[type=range]:focus::-webkit-slider-runnable-track {
  background: -webkit-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* Standard syntax */
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
}
.greenColorRange input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.greenColorRange input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
.greenColorRange input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
.greenColorRange input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.greenColorRange input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.greenColorRange input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
.greenColorRange input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
.greenColorRange input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

/*black coloured range slider  =================================================*/

.blackColorRange input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 80%;
}
.blackColorRange input[type=range]:focus {
  outline: none;
}
.blackColorRange input[type=range]::-webkit-slider-runnable-track {
  width: 80%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
   background: -webkit-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* Standard syntax */
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
  border-radius: 1.3px;
  border: 0.2px solid #909398;
}
.blackColorRange input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 25px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
.blackColorRange input[type=range]:focus::-webkit-slider-runnable-track {
  background: -webkit-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* Standard syntax */
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
}
.blackColorRange input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.blackColorRange input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
.blackColorRange input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
.blackColorRange input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.blackColorRange input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.blackColorRange input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
.blackColorRange input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
.blackColorRange input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

/*red coloured range slider  =================================================*/

.redColorRange input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
.redColorRange input[type=range]:focus {
  outline: none;
}
.redColorRange input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
   background: -webkit-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* Standard syntax */
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
  border-radius: 1.3px;
  border: 0.2px solid #909398;
}
.redColorRange input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 25px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #ea4743;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
.redColorRange input[type=range]:focus::-webkit-slider-runnable-track {
  background: -webkit-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* Standard syntax */
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
}
.redColorRange input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.redColorRange input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
.redColorRange input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
.redColorRange input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.redColorRange input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.redColorRange input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
.redColorRange input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
.redColorRange input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

/*blue coloured range slider  =================================================*/

.blueColorRange input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
.blueColorRange input[type=range]:focus {
  outline: none;
}
.blueColorRange input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
   background: -webkit-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* Standard syntax */
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
  border-radius: 1.3px;
  border: 0.2px solid #909398;
}
.blueColorRange input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 25px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #18bcd0;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
.blueColorRange input[type=range]:focus::-webkit-slider-runnable-track {
  background: -webkit-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* Standard syntax */
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
}
.blueColorRange input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.blueColorRange input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
.blueColorRange input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
.blueColorRange input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.blueColorRange input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.blueColorRange input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
.blueColorRange input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
.blueColorRange input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

/*=========== black full slider*/

.blackColorFullRange input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
.blackColorFullRange input[type=range]:focus {
  outline: none;
}
.blackColorFullRange input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
   background: -webkit-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet,red);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet,red);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet,red);
  /* Standard syntax */
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet,red); 
  border-radius: 1.3px;
  border: 0.2px solid #909398;
}
.blackColorFullRange input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 25px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2px;
}
.blackColorFullRange input[type=range]:focus::-webkit-slider-runnable-track {
  background: -webkit-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet,red);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet,red);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet,red);
  /* Standard syntax */
  background: linear-gradient(to right,red,orange,yellow,green,blue,indigo,violet,red); 
}
.blackColorFullRange input[type=range]::-moz-range-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: -moz-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet,red);
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet,red); 
  border-radius: 1.3px;
  border: 0.1px solid #010101;
}
.blackColorFullRange input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 25px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #000000;
  cursor: pointer;
  margin-top: -2px;
}
.blackColorFullRange input[type=range]::-ms-track {
   width: 100%;
  height: 0.3px;
  cursor: pointer;
  animate: 0.2s;
   background: -webkit-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet,red);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet,red);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet,red);
  /* Standard syntax */
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet,red); 
  border-color: transparent;
  border-width: 10px 0;
  color: transparent;
}
.blackColorFullRange input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.blackColorFullRange input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.blackColorFullRange input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 10px;
  background: #000000;
  cursor: pointer;
  margin-top: 0.8px;
}
.blackColorFullRange input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
.blackColorFullRange input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
.blackColorFullRange input[type=range]::-ms-tooltip { display: none; }

/*===========Disabled black full slider*/

.greyColorFullRange input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
.greyColorFullRange input[type=range]:focus {
  outline: none;
}
.greyColorFullRange input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 14px;
  animate: 0.2s;
   background: -webkit-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* Standard syntax */
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
   -webkit-filter: grayscale(100%);
    -moz-filter:    grayscale(100%);
    -ms-filter:     grayscale(100%);
    -o-filter:      grayscale(100%);
    filter: gray;
  border-radius: 1.3px;
  opacity: 0.2;
  border: 0.2px solid #909398;
}
.greyColorFullRange input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 25px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #000000;
  -webkit-appearance: none;
  margin-top: -2px;
}
.greyColorFullRange input[type=range]:focus::-webkit-slider-runnable-track {
  background: -webkit-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* Standard syntax */
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
}
.greyColorFullRange input[type=range]::-moz-range-track {
    width: 100%;
  height: 14px;
  animate: 0.2s;
   background: -webkit-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* Standard syntax */
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
   -webkit-filter: grayscale(100%);
    -moz-filter:    grayscale(100%);
    -ms-filter:     grayscale(100%);
    -o-filter:      grayscale(100%);
    filter: gray;
  border-radius: 1.3px;
  opacity: 0.2;
  border: 0.2px solid #909398;
}
.greyColorFullRange input[type=range]::-moz-range-thumb {
   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 25px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #000000;
  -webkit-appearance: none;
  margin-top: -2px;
  opacity: 0.2;
}
.greyColorFullRange input[type=range]::-ms-track {
   width: 100%;
  height: 0.3px;
  cursor: pointer;
  animate: 0.2s;
   background: -webkit-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet,red);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet,red);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet,red);
  /* Standard syntax */
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet,red); 
  border-color: transparent;
  border-width: 10px 0;
  color: transparent;
}
.greyColorFullRange input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.greyColorFullRange input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.greyColorFullRange input[type=range]::-ms-thumb {
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;*/
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 10px;
  background: #000000;
  cursor: pointer;
  margin-top: 0.8px;
}
.greyColorFullRange input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
.greyColorFullRange input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
.greyColorFullRange input[type=range]::-ms-tooltip { display: none; }

/*Disabled range slider =================================================*/

.disabledRange input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
.disabledRange input[type=range]:focus {
  outline: none;
}
.disabledRange input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  animate: 0.2s;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #909398;
  opacity: 0.2;
}
.disabledRange input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 25px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #000000;
  -webkit-appearance: none;
  margin-top: -7px;
  opacity: 0.4;
}
.disabledRange input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
.disabledRange input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  animate: 0.2s;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #909398;
  opacity: 0.2;
}
.disabledRange input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 25px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #000000;
  margin-top: -7px;
  opacity: 0.4;
}
.disabledRange input[type=range]::-ms-track {
  width: 100%;
  /*height: 8.4px;*/
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
.disabledRange input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.disabledRange input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.disabledRange input[type=range]::-ms-thumb {
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;*/
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 10px;
  margin-top:2px;
  background: #000;
  cursor: pointer;
}
.disabledRange input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
.disabledRange input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
.disabledRange input[type=range]::-ms-tooltip { display: none; }
/*thermocolorslider ============================*/

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .instioncolorslider input[type='range'] {
      overflow: hidden;
      width: 100%;
      -webkit-appearance: none;
      background-color: #9a905d;
    }
    
    .instioncolorslider input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }
    
    .instioncolorslider input[type='range']::-webkit-slider-thumb {
      width: 10px;
      height: 10px;
      border-radius: 10px;
      margin-top:1px;
      -webkit-appearance: none;
      cursor: pointer;
      background: #434343;
      box-shadow: -80px 0 0 80px #43e5f7;
    }

}
/** FF*/
.instioncolorslider input[type="range"]::-moz-range-progress {
  background-color: #43e5f7; 
}
.instioncolorslider input[type="range"]::-moz-range-track {  
  background-color: #9a905d;
}
/* IE*/
.instioncolorslider input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7; 
}
.instioncolorslider input[type="range"]::-ms-fill-upper {  
  background-color: #9a905d;
}
